body, html{
  height:100%;
}
body{
  margin: 0px; 
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.germandancer{
  content: url("http://www.picgifs.com/graphics/g/germany/graphics-germany-689926.gif");
  height: 240px;
  width: 100px;
  position:absolute;
}

.restofpage{
  background: url("ourbackground.jpg");
  height:100vh;
}

.britishdancer{
  content: url("http://www.picgifs.com/graphics/e/england/graphics-england-027299.gif");
  height: 240px;
  width: 100px;
  position:absolute;
}

#mousebox1{
  float:left;
  height: 100%;
  position: absolute;
  top: 75px;
  left: 5%;
  width: 120px;
}

#mousebox2{
  float:right;
  height: 100%;
  position: absolute;
  top: 75px;
  left: 89%;
  width: 150px;
}
